flows (6).json
[{"id":"155156f2.50ad99","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c601f663.097a58","type":"tab","label":"UI home","disabled":false,"info":""},{"id":"ed0b1de1.8fe77","type":"tab","label":"History","disabled":false,"info":""},{"id":"6e82cf52.344f2","type":"tab","label":"Set Home","disabled":false,"info":""},{"id":"12240eb7.4963d1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"GreenBuoy Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":35,"sy":35,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"c50b087c.61b8d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da63f858.eed028","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2a63f8c5.3726e8","type":"ui_group","z":"","name":"map","tab":"fea1bccd.fbf5b","order":3,"disp":true,"width":"18","collapse":true},{"id":"47993d6f.eaf2b4","type":"ui_group","z":"","name":"Electric Energy","tab":"da63f858.eed028","order":5,"disp":true,"width":"6","collapse":false},{"id":"a4650593.9b8898","type":"ui_group","z":"","name":"get data","tab":"bdb62e1.263a4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfa75078.d68b5","type":"ui_group","z":"","name":"Chart","tab":"da63f858.eed028","order":6,"disp":true,"width":"24","collapse":false},{"id":"bdb62e1.263a4d","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e4f5ce61.2e37b","type":"ui_group","z":"","name":"chart","tab":"bdb62e1.263a4d","order":2,"disp":true,"width":"20","collapse":true},{"id":"7ca97527.92b29c","type":"ui_group","z":"","name":"map","tab":"da63f858.eed028","order":2,"disp":true,"width":"11","collapse":false},{"id":"fea1bccd.fbf5b","type":"ui_tab","z":"","name":"setting","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"dc06aebc.40462","type":"ui_group","z":"","name":"radius","tab":"fea1bccd.fbf5b","order":2,"disp":true,"width":"6","collapse":false},{"id":"98980964.6b0638","type":"ui_group","z":"","name":"Last data","tab":"da63f858.eed028","order":1,"disp":true,"width":"30","collapse":false},{"id":"bd7e7101.17f9f","type":"ui_group","z":"","name":"water quality","tab":"da63f858.eed028","order":3,"disp":true,"width":"6","collapse":false},{"id":"6fb85fe.68186a","type":"ui_group","z":"","name":"Wave Energy","tab":"da63f858.eed028","order":4,"disp":true,"width":"6","collapse":false},{"id":"ea59f87a.80d418","type":"ui_spacer","d":true,"name":"spacer","group":"bd7e7101.17f9f","order":3,"width":"6","height":"2"},{"id":"80ba5601.53d9a8","type":"ui_spacer","d":true,"name":"spacer","group":"6fb85fe.68186a","order":5,"width":"6","height":"2"},{"id":"878ac382.0d25d","type":"ui_spacer","name":"spacer","group":"7ca97527.92b29c","order":5,"width":"11","height":"3"},{"id":"8413b6ba.098088","type":"ui_worldmap","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":1,"width":0,"height":0,"name":"","lat":"13.80570","lon":"100.53171","zoom":"15","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmap","x":1540,"y":560,"wires":[]},{"id":"844f6409.9a0a08","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"test","qos":"","retain":"","broker":"c50b087c.61b8d8","x":490,"y":620,"wires":[]},{"id":"adc4f75b.8286c8","type":"inject","z":"155156f2.50ad99","name":"random data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":620,"wires":[["bd297f29.88c7a"]]},{"id":"bd297f29.88c7a","type":"function","z":"155156f2.50ad99","name":"random data","func":"msg.payload = {};\nvar val = parseInt(Math.random() * 10);\n\nif((val % 3) === 0){\n    msg.payload.lat  = 13.8043;\n    msg.payload.lon  = 100.5344;\n}\nelse if ((val % 3) === 1){\n    msg.payload.lat  = 13.7990;\n    msg.payload.lon  = 100.5227;\n}\nelse if ((val % 3) === 2){\n    msg.payload.lat  = 13.8099;\n    msg.payload.lon  = 100.5223;\n}\nmsg.payload.val1 = parseInt(Math.random() * 40);\nmsg.payload.val2 = parseInt(Math.random() * 10);\nmsg.payload.val3 = parseInt(Math.random() * 20);\nmsg.payload.val4 = parseInt(Math.random() * 20);\nmsg.payload.val5 = parseInt(Math.random() * 10);\nmsg.payload.val6 = parseInt(Math.random() * 20);\nmsg.payload.val7 = parseInt(Math.random() * 10);\nmsg.payload.val8 = parseInt(Math.random() * 10);\nmsg.payload.val9 = parseInt(Math.random() * 10);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":620,"wires":[["844f6409.9a0a08"]]},{"id":"c9150ea8.1663d","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":290,"y":280,"wires":[["4029aa0a.89c5d4","7b876409.83fa8c","38b609e7.9a53b6"]]},{"id":"61e0dbc1.e41b74","type":"mqtt in","z":"155156f2.50ad99","name":"","topic":"test","qos":"2","datatype":"auto","broker":"c50b087c.61b8d8","x":130,"y":280,"wires":[["c9150ea8.1663d","b6800640.a97628","c968948.a3b8b68","8a375a9c.0f5138"]]},{"id":"8a375a9c.0f5138","type":"ui_text","z":"155156f2.50ad99","group":"98980964.6b0638","order":2,"width":0,"height":0,"name":"","label":"dataIn","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":220,"wires":[]},{"id":"f8187374.abc43","type":"file in","z":"ed0b1de1.8fe77","name":"read file","filename":"/home/rednode/data/10-16-2020.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":160,"wires":[["28bcb4c9.68841c"]]},{"id":"58b395b3.75a53c","type":"inject","z":"ed0b1de1.8fe77","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["f8187374.abc43"]]},{"id":"1447a76a.c3dc29","type":"debug","z":"ed0b1de1.8fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":160,"wires":[]},{"id":"28bcb4c9.68841c","type":"csv","z":"ed0b1de1.8fe77","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":530,"y":160,"wires":[["1447a76a.c3dc29"]]},{"id":"87799f77.7daba","type":"http in","z":"ed0b1de1.8fe77","name":"","url":"/download/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["4c02771c.9d92f8","2ca3b491.d4102c"]]},{"id":"9ef42262.c3c81","type":"http response","z":"ed0b1de1.8fe77","name":"","statusCode":"","headers":{},"x":910,"y":260,"wires":[]},{"id":"1a5e4408.8d8d9c","type":"file in","z":"ed0b1de1.8fe77","name":"file download","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":260,"wires":[["16554b55.6f1cc5"]]},{"id":"e1720acb.ceebe8","type":"http in","z":"ed0b1de1.8fe77","name":"","url":"/preview/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["2821a863.6d5c18","2ca3b491.d4102c"]]},{"id":"2bc471a2.a4c10e","type":"http response","z":"ed0b1de1.8fe77","name":"","statusCode":"","headers":{},"x":1070,"y":380,"wires":[]},{"id":"a18632d6.bed3a","type":"file in","z":"ed0b1de1.8fe77","name":"file preview","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":380,"wires":[["dc29fc51.45e0e"]]},{"id":"553eb1bf.a430d","type":"join","z":"ed0b1de1.8fe77","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":380,"wires":[["2bc471a2.a4c10e"]]},{"id":"dc29fc51.45e0e","type":"csv","z":"ed0b1de1.8fe77","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":710,"y":380,"wires":[["553eb1bf.a430d"]]},{"id":"d74810bc.e6ebc","type":"ui_date_picker","z":"ed0b1de1.8fe77","name":"","label":"date","group":"a4650593.9b8898","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":110,"y":580,"wires":[["e0c871b7.4eda3","89705b36.f79268"]]},{"id":"ec17adcf.00719","type":"debug","z":"ed0b1de1.8fe77","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":500,"wires":[]},{"id":"e0c871b7.4eda3","type":"function","z":"ed0b1de1.8fe77","name":"set file name","func":"D = new Date(msg.payload);\nvar offset = D.getTime() + 25200000;\nD.setTime(offset);\n\nvar date;\ndate = D.toLocaleString(\"en-IE\");\ndate = date.split(\",\");\ndate = date[0].replace(\"/\", \"-\").replace(\"/\", \"-\");\n\nmsg.payload = date + \".csv\";\nmsg.filename = \"/home/rednode/data/\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":580,"wires":[["ec17adcf.00719","55696d39.3c4e14","85f03556.9bbda8","f159caa2.809b78"]]},{"id":"38d84a68.d64836","type":"inject","z":"ed0b1de1.8fe77","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["3e7c69cd.99ffb6"]]},{"id":"3e7c69cd.99ffb6","type":"file","z":"ed0b1de1.8fe77","name":"delete file","filename":"/home/rednode/data/10-16-2020.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":340,"y":60,"wires":[[]]},{"id":"e439fdc5.57807","type":"file in","z":"ed0b1de1.8fe77","name":"history graph","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":690,"y":640,"wires":[["e753a11c.bc615"]]},{"id":"e753a11c.bc615","type":"csv","z":"ed0b1de1.8fe77","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":850,"y":640,"wires":[["b609703.b8cfc9"]]},{"id":"5dbe6239.97517c","type":"ui_template","z":"ed0b1de1.8fe77","group":"a4650593.9b8898","name":"Download Button","order":3,"width":0,"height":0,"format":"<md-button class=\"eb2\" onClick=\"parent.open(url)\">\nDownload</md-button>\n\n<script>\n    var url;\n    scope.$watch('msg', function(msg) {\n        url = msg.payload;\n    });\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":730,"y":580,"wires":[["949fb075.b208a"]]},{"id":"949fb075.b208a","type":"debug","z":"ed0b1de1.8fe77","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":580,"wires":[]},{"id":"55696d39.3c4e14","type":"function","z":"ed0b1de1.8fe77","name":"set url","func":"msg.payload = \"http://34.126.110.212:1880/download?file=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":580,"wires":[["5dbe6239.97517c"]]},{"id":"4c02771c.9d92f8","type":"function","z":"ed0b1de1.8fe77","name":"set file name","func":"msg.filename = \"/home/rednode/data/\" + msg.payload.file;\nflow.set('filename', msg.payload.file);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["1a5e4408.8d8d9c"]]},{"id":"2821a863.6d5c18","type":"function","z":"ed0b1de1.8fe77","name":"set file name","func":"msg.filename = \"/home/rednode/data/\" + msg.payload.file;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":380,"wires":[["a18632d6.bed3a"]]},{"id":"2ca3b491.d4102c","type":"debug","z":"ed0b1de1.8fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":320,"wires":[]},{"id":"c3715b24.ef2de8","type":"file in","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1120,"y":360,"wires":[["7956174b.8964f8"]]},{"id":"4711e973.79b458","type":"worldmap in","z":"155156f2.50ad99","name":"","path":"/worldmap","events":"all","x":800,"y":380,"wires":[["735b9537.2b6dfc"]]},{"id":"5cbbc251.b3b2dc","type":"change","z":"155156f2.50ad99","name":"delete last position","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"oldData.time","tot":"global"},{"t":"set","p":"payload.deleted","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":620,"wires":[["8413b6ba.098088"]]},{"id":"291d567c.8abc9a","type":"mqtt out","z":"155156f2.50ad99","name":"","topic":"check","qos":"2","retain":"","broker":"c50b087c.61b8d8","x":390,"y":500,"wires":[]},{"id":"735b9537.2b6dfc","type":"switch","z":"155156f2.50ad99","name":"is new client?","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":440,"wires":[["c3715b24.ef2de8","97de24df.462538","a30c76c7.93c1c8","bb15d1f3.3a3c2"]]},{"id":"97de24df.462538","type":"file in","z":"155156f2.50ad99","name":"homesetting","filename":"/home/rednode/data/homeSetting.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":440,"wires":[["69627f8e.a0392"]]},{"id":"69627f8e.a0392","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":440,"wires":[["8413b6ba.098088"]]},{"id":"14d50689.0a4c89","type":"function","z":"155156f2.50ad99","name":"location1","func":"msg.payload = {};\nmsg.payload.name = \"location1\";\nmsg.payload.lat  = 13.8043;\nmsg.payload.lon  = 100.5344;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":700,"wires":[["844f6409.9a0a08"]]},{"id":"67068c35.fc9144","type":"function","z":"155156f2.50ad99","name":"location2","func":"msg.payload = {};\nmsg.payload.name = \"location2\";\nmsg.payload.lat  = 13.7990;\nmsg.payload.lon  = 100.5227;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":780,"wires":[["844f6409.9a0a08"]]},{"id":"29efeab5.4ec406","type":"function","z":"155156f2.50ad99","name":"location3","func":"msg.payload = {};\nmsg.payload.name = \"location3\";\nmsg.payload.lat  = 13.8099;\nmsg.payload.lon  = 100.5223;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":860,"wires":[["844f6409.9a0a08"]]},{"id":"e835114d.d06c5","type":"inject","z":"155156f2.50ad99","name":"location1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["14d50689.0a4c89"]]},{"id":"37eb3bed.2b5644","type":"inject","z":"155156f2.50ad99","name":"location2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":780,"wires":[["67068c35.fc9144"]]},{"id":"98a5c28f.5e69d","type":"inject","z":"155156f2.50ad99","name":"location3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["29efeab5.4ec406"]]},{"id":"c968948.a3b8b68","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"a12f046a.96dc68","type":"function","z":"155156f2.50ad99","name":"calc distance form home","func":"var home_data = global.get('home');\nvar lat1 = home_data.lat;\nvar lon1 = home_data.lon;\nvar lat2 = msg.payload.lat;\nvar lon2 = msg.payload.lon;\n\nlat1 = lat1 * Math.PI/180; // lat, lon in radians\nlon1 = lon1 * Math.PI/180;\nlat2 = lat2 * Math.PI/180;\nlon2 = lon2 * Math.PI/180;\n\nconst R = 6371000;\nconst a = Math.cos(lat1)*Math.cos(lat2)*Math.cos(lon1)*Math.cos(lon2);\nconst b = Math.cos(lat1)*Math.sin(lon1)*Math.cos(lat2)*Math.sin(lon2);\nconst c = Math.sin(lat1)*Math.sin(lat2);\nconst d = Math.acos(a+b+c) * R;\n\nmsg.payload = Math.round(d*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":880,"wires":[["2c806f03.46e94","7056c126.a04f6"]]},{"id":"2c806f03.46e94","type":"ui_text","z":"155156f2.50ad99","group":"7ca97527.92b29c","order":4,"width":0,"height":0,"name":"distance","label":"distance[m] : ","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":800,"wires":[]},{"id":"89013c09.d3223","type":"function","z":"155156f2.50ad99","name":"set e-mail","func":"msg = {\n    topic : \"Warning!!!\",\n    payload : \"ทุ่นของคุณกำลังออกนอกอาณาเขตการปกครอง รัศมี \"\n            + global.get('home').radius + \" เมตร\\n\"\n            + \"ตำแหน่งล่าสุดคือ\"\n            + \"  lat : \" + global.get('dataIn').lat\n            + \"  lon : \" + global.get('dataIn').lon + \"\\n\"\n            + \"ห่างจากจุดติดตั้งเป็นระยะทาง \"\n            + msg.payload + \" เมตร\\n\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":860,"wires":[["1f637976.a58db7","fc3d9ad4.c2eb98"]]},{"id":"1f637976.a58db7","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","x":1380,"y":860,"wires":[]},{"id":"fc3d9ad4.c2eb98","type":"e-mail","z":"155156f2.50ad99","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"GreenBouy.IoT@gmail.com","dname":"","x":1420,"y":940,"wires":[]},{"id":"7056c126.a04f6","type":"switch","z":"155156f2.50ad99","name":"if out of border","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"home.radius","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":940,"wires":[["89013c09.d3223","df185246.6af06"]]},{"id":"b6800640.a97628","type":"switch","z":"155156f2.50ad99","name":"acknowledge","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":380,"wires":[["97ece023.9777d"]]},{"id":"97ece023.9777d","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":440,"wires":[["291d567c.8abc9a"]]},{"id":"5bcad9e7.210ff8","type":"ui_toast","z":"155156f2.50ad99","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"warning","x":1440,"y":1020,"wires":[]},{"id":"4029aa0a.89c5d4","type":"change","z":"155156f2.50ad99","name":"set data","rules":[{"t":"set","p":"oldData","pt":"global","to":"dataIn","tot":"global"},{"t":"set","p":"dataIn","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"dataIn.old","pt":"global","to":"false","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[[]]},{"id":"7b876409.83fa8c","type":"function","z":"155156f2.50ad99","name":"set global.dataIn.time","func":"var D = new Date();\nvar offset = D.getTime() + 25200000;\nD.setTime(offset);\nvar date = D.toLocaleString(\"en-IE\");\ndate = date.split(\", \");\nvar time = date[1];\nglobal.set('dataIn.time', time);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[[]]},{"id":"38b609e7.9a53b6","type":"link out","z":"155156f2.50ad99","name":"dataIn","links":["10bc6318.9279ad","65d71365.47378c","6b5839cd.a1bda8","9202bcfc.b1893","d2eced79.0f28b","d38838be.4bfc38","f0358c5c.1a178","f49c8ed0.05f58","f6b69d2c.22a26","fc9f6c38.3146f","641a37ab.327098","b2d8dac3.c313e8","cabe662f.f12bf8","b3193ddf.3e02b","8dda0135.d8daa","75bdbbb9.504a44","57c58ecf.cc214","7b21cd48.e85604","60e0a624.fa1de8","f70b93d9.9edf","4ff8b27.24ea94c","7afd5112.9762d","68c80f2.163f2f","33241c9f.78c264","f7f3e76.9ff2418","d235e1dd.0b845","a5b466f2.57fb28","80db0bef.349348","36625c26.e3e4f4"],"x":475,"y":380,"wires":[]},{"id":"a4706d26.bddfe","type":"change","z":"155156f2.50ad99","name":"new position","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"dataIn.time","tot":"global"},{"t":"set","p":"payload.lat","pt":"msg","to":"dataIn.lat","tot":"global"},{"t":"set","p":"payload.lon","pt":"msg","to":"dataIn.lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":680,"wires":[["8413b6ba.098088"]]},{"id":"8dda0135.d8daa","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":935,"y":620,"wires":[["7c270804.619d88"]]},{"id":"efbd6118.59d99","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":680,"wires":[["a4706d26.bddfe"]]},{"id":"76eeb58d.f59edc","type":"change","z":"155156f2.50ad99","name":"set oldData","rules":[{"t":"set","p":"dataIn","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":360,"wires":[[]]},{"id":"7956174b.8964f8","type":"json","z":"155156f2.50ad99","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":360,"wires":[["76eeb58d.f59edc"]]},{"id":"75bdbbb9.504a44","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":615,"y":820,"wires":[["d28e8e5.eb6687"]]},{"id":"df185246.6af06","type":"change","z":"155156f2.50ad99","name":"warnnig msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"ทุุ่นออกนอกอาณาเขต","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1020,"wires":[["5bcad9e7.210ff8"]]},{"id":"1b261dc2.ca3e32","type":"file","z":"155156f2.50ad99","name":"save data","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1470,"y":100,"wires":[[]]},{"id":"e1c31bc4.6b4f18","type":"function","z":"155156f2.50ad99","name":"save data","func":"var D = new Date();\nvar offset = D.getTime() + 25200000;\nD.setTime(offset);\nvar date = D.toLocaleString(\"en-IE\");\ndate = date.split(\", \");\n\nmsg.filename = \"/home/rednode/data/\";\nmsg.filename += date[0].replace(\"/\", \"-\").replace(\"/\", \"-\");\nmsg.filename += \".csv\";\nvar time = date[1];\n\nmsg.payload = msg.payload.time + \",\"\n            + msg.payload.lat  + ','\n            + msg.payload.lon  + ','\n            + msg.payload.val1 + ','\n            + msg.payload.val2 + ','\n            + msg.payload.val3 + ','\n            + msg.payload.val4 + ','\n            + msg.payload.val5 + ','\n            + msg.payload.val6 + ','\n            + msg.payload.val7 + ','\n            + msg.payload.val8 + ','\n            + msg.payload.val9;\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":100,"wires":[["1b261dc2.ca3e32"]]},{"id":"13e277cc.341218","type":"file","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1280,"y":160,"wires":[[]]},{"id":"70ccaf38.bd449","type":"change","z":"155156f2.50ad99","name":"dataIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":100,"wires":[["e1c31bc4.6b4f18","13e277cc.341218"]]},{"id":"57c58ecf.cc214","type":"link in","z":"155156f2.50ad99","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":735,"y":100,"wires":[["55f97adb.3a5c44"]]},{"id":"8c43a679.b1e008","type":"ui_gauge","z":"c601f663.097a58","name":"Battery Voltage","group":"47993d6f.eaf2b4","order":1,"width":0,"height":0,"gtype":"gage","title":"แรงดันแบตเตอรี่","label":"V","format":"{{value}}","min":0,"max":"20","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"7","seg2":"10","x":1200,"y":80,"wires":[]},{"id":"3baa6c1b.422154","type":"change","z":"c601f663.097a58","name":"val3","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val3","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":80,"wires":[["8c43a679.b1e008","5d11fc9a.010894"]]},{"id":"8a3dce7c.1e81f","type":"change","z":"c601f663.097a58","name":"lat","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lat","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["4249b6c.629f248"]]},{"id":"4249b6c.629f248","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":2,"width":0,"height":0,"name":"lat","label":"lat : ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":180,"wires":[]},{"id":"9f46b823.200db8","type":"change","z":"c601f663.097a58","name":"lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.lon","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["7f2485c9.0eb19c"]]},{"id":"7f2485c9.0eb19c","type":"ui_text","z":"c601f663.097a58","group":"7ca97527.92b29c","order":3,"width":0,"height":0,"name":"lon","label":"lon : ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":240,"wires":[]},{"id":"510ded63.8e3354","type":"change","z":"c601f663.097a58","name":"val4","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val4","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[["79f6b4b1.f5156c","78213d21.8a20a4"]]},{"id":"a04ce31d.2aec8","type":"change","z":"c601f663.097a58","name":"val5","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val5","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":280,"wires":[["478abf12.28129","714116a9.724a08"]]},{"id":"64672b2a.e85484","type":"change","z":"c601f663.097a58","name":"val6","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val6","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["2870682c.f088d8","f4fda1fb.46201"]]},{"id":"978a80a7.aacab","type":"ui_text","z":"c601f663.097a58","group":"98980964.6b0638","order":1,"width":0,"height":0,"name":"","label":"time","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":80,"wires":[]},{"id":"b6cba28a.9616","type":"change","z":"c601f663.097a58","name":"time","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["978a80a7.aacab"]]},{"id":"79f6b4b1.f5156c","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Voltage","group":"47993d6f.eaf2b4","order":2,"width":0,"height":0,"gtype":"gage","title":"แรงดันจากพลังงานแสงอาทิตย์","label":"V","format":"{{value}}","min":0,"max":"20","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"7","seg2":"10","x":1200,"y":180,"wires":[]},{"id":"478abf12.28129","type":"ui_gauge","z":"c601f663.097a58","name":"Solar Current","group":"47993d6f.eaf2b4","order":3,"width":0,"height":0,"gtype":"gage","title":"กระแสจากพลังงานแสงอาทิตย์","label":"A","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"1","seg2":"5","x":1200,"y":280,"wires":[]},{"id":"2870682c.f088d8","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Voltage","group":"6fb85fe.68186a","order":3,"width":0,"height":0,"gtype":"gage","title":"แรงดันจากพลังงานคลื่น","label":"V","format":"{{value}}","min":0,"max":"20","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"7","seg2":"10","x":1210,"y":380,"wires":[]},{"id":"cfe96d40.5731a","type":"change","z":"c601f663.097a58","name":"val7","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val7","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["811c0ecd.89d4a","327b2067.51d49"]]},{"id":"811c0ecd.89d4a","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Gen Current","group":"6fb85fe.68186a","order":4,"width":0,"height":0,"gtype":"gage","title":"กระแสจากพลังงานคลื่น","label":"A","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"1","seg2":"10","x":1210,"y":480,"wires":[]},{"id":"daf5c528.260e28","type":"change","z":"c601f663.097a58","name":"val8","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val8","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":620,"wires":[["22a7eef3.7969b2","8e22e093.abe8a"]]},{"id":"22a7eef3.7969b2","type":"ui_gauge","z":"c601f663.097a58","name":"Wave mass Amplitude","group":"6fb85fe.68186a","order":1,"width":0,"height":0,"gtype":"gage","title":"ระยะกระจัดของระบบมวลสร้างพลังงาน","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"30","seg2":"70","x":1220,"y":620,"wires":[]},{"id":"1c1e9dc9.7d75c2","type":"change","z":"c601f663.097a58","name":"val9","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val9","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":720,"wires":[["97472554.654b38","9a691e4c.c6984"]]},{"id":"97472554.654b38","type":"ui_gauge","z":"c601f663.097a58","name":"Wave Frequency","group":"6fb85fe.68186a","order":2,"width":0,"height":0,"gtype":"gage","title":"ความถี่คลื่นทะเล","label":"Hz","format":"{{value}}","min":0,"max":"10","colors":["#ff4d4d","#e6e600","#74ff29"],"seg1":"3","seg2":"6","x":1210,"y":720,"wires":[]},{"id":"9eecde2b.cb599","type":"change","z":"c601f663.097a58","name":"val1","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["7184ecf0.eca204","a40f6c2a.1cc9f"]]},{"id":"7184ecf0.eca204","type":"ui_gauge","z":"c601f663.097a58","name":"Water Temp","group":"bd7e7101.17f9f","order":1,"width":0,"height":0,"gtype":"gage","title":"อุณหภูมิน้ำทะเล","label":"'C","format":"{{value}}","min":0,"max":"40","colors":["#4dffea","#95e600","#ffa629"],"seg1":"25","seg2":"30","x":590,"y":340,"wires":[]},{"id":"d6fc3473.51e5c8","type":"change","z":"c601f663.097a58","name":"val2","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn.val2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["9ec2d5e.1f60728","b5b1950c.191d18"]]},{"id":"9ec2d5e.1f60728","type":"ui_gauge","z":"c601f663.097a58","name":"Water PH","group":"bd7e7101.17f9f","order":2,"width":0,"height":0,"gtype":"gage","title":"ค่า PH น้ำทะเล","label":"","format":"{{value}}","min":0,"max":"10","colors":["#f53232","#00e626","#29a2ff"],"seg1":"6.5","seg2":"7.5","x":580,"y":440,"wires":[]},{"id":"7b21cd48.e85604","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":80,"wires":[["b6cba28a.9616"]]},{"id":"60e0a624.fa1de8","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":180,"wires":[["8a3dce7c.1e81f"]]},{"id":"f70b93d9.9edf","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":240,"wires":[["9f46b823.200db8"]]},{"id":"4ff8b27.24ea94c","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":340,"wires":[["9eecde2b.cb599"]]},{"id":"7afd5112.9762d","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":195,"y":440,"wires":[["d6fc3473.51e5c8"]]},{"id":"68c80f2.163f2f","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":80,"wires":[["3baa6c1b.422154"]]},{"id":"33241c9f.78c264","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":180,"wires":[["510ded63.8e3354"]]},{"id":"f7f3e76.9ff2418","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":280,"wires":[["a04ce31d.2aec8"]]},{"id":"d235e1dd.0b845","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":380,"wires":[["64672b2a.e85484"]]},{"id":"a5b466f2.57fb28","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":480,"wires":[["cfe96d40.5731a"]]},{"id":"80db0bef.349348","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":620,"wires":[["daf5c528.260e28"]]},{"id":"36625c26.e3e4f4","type":"link in","z":"c601f663.097a58","name":"dataIn","links":["38b609e7.9a53b6","836e3dd9.c0b23","b05a877d.702c88"],"x":795,"y":720,"wires":[["1c1e9dc9.7d75c2"]]},{"id":"4c40f5f6.a7b1dc","type":"ui_chart","z":"c601f663.097a58","name":"Water Temp","group":"dfa75078.d68b5","order":1,"width":0,"height":0,"label":"อุณหภูมิน้ำทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":380,"wires":[[]]},{"id":"1a94a4c2.51cb7b","type":"ui_chart","z":"c601f663.097a58","name":"Water PH","group":"dfa75078.d68b5","order":2,"width":0,"height":0,"label":"ค่า PH น้ำทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":480,"wires":[[]]},{"id":"887d71bd.c99a5","type":"ui_chart","z":"c601f663.097a58","name":"Solar Voltage","group":"dfa75078.d68b5","order":4,"width":0,"height":0,"label":"แรงดันจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":220,"wires":[[]]},{"id":"3b69c353.c5552c","type":"ui_chart","z":"c601f663.097a58","name":"Solar Current","group":"dfa75078.d68b5","order":5,"width":0,"height":0,"label":"กระแสจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":320,"wires":[[]]},{"id":"22aadd24.59c1b2","type":"ui_chart","z":"c601f663.097a58","name":"Wave Gen Voltage","group":"dfa75078.d68b5","order":6,"width":0,"height":0,"label":"แรงดันจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":420,"wires":[[]]},{"id":"3489065b.5fa07a","type":"ui_chart","z":"c601f663.097a58","name":"Wave Gen Current","group":"dfa75078.d68b5","order":7,"width":0,"height":0,"label":"กระแสจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":520,"wires":[[]]},{"id":"a0784b6d.16bdc8","type":"ui_chart","z":"c601f663.097a58","name":"Wave mass Amplitude","group":"dfa75078.d68b5","order":8,"width":0,"height":0,"label":"ระยะกระจัดของระบบมวลสร้างพลังงาน","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":660,"wires":[[]]},{"id":"a39dd86f.362038","type":"ui_chart","z":"c601f663.097a58","name":"Wave Frequency","group":"dfa75078.d68b5","order":9,"width":0,"height":0,"label":"ความถี่คลื่นทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":760,"wires":[[]]},{"id":"3d2d9a72.1983e6","type":"ui_chart","z":"c601f663.097a58","name":"Battery Voltage","group":"dfa75078.d68b5","order":3,"width":0,"height":0,"label":"แรงดันแบตเตอรี่","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":120,"wires":[[]]},{"id":"55f97adb.3a5c44","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":100,"wires":[["bfd27e87.2bdbe"]]},{"id":"719597d4.376de8","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Water Temp","group":"e4f5ce61.2e37b","order":2,"width":0,"height":0,"label":"อุณหภูมิน้ำทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Water Temp","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":1020,"wires":[[]]},{"id":"b49fba21.907578","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Water PH","group":"e4f5ce61.2e37b","order":3,"width":0,"height":0,"label":"ค่า PH น้ำทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":1100,"wires":[[]]},{"id":"3a0465fe.e250da","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Battery Voltage","group":"e4f5ce61.2e37b","order":4,"width":0,"height":0,"label":"แรงดันแบตเตอรี่","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":1220,"wires":[[]]},{"id":"cc9f10ca.e7d7c","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Solar Voltage","group":"e4f5ce61.2e37b","order":5,"width":0,"height":0,"label":"แรงดันจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":1300,"wires":[[]]},{"id":"6022f149.2aa45","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Solar Current","group":"e4f5ce61.2e37b","order":6,"width":0,"height":0,"label":"กระแสจากพลังงานแสงอาทิตย์","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":1380,"wires":[[]]},{"id":"a3d4001f.2f9bb","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Wave Gen Voltage","group":"e4f5ce61.2e37b","order":7,"width":0,"height":0,"label":"แรงดันจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1020,"wires":[[]]},{"id":"30d2582.f45cda8","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Wave Gen Current","group":"e4f5ce61.2e37b","order":8,"width":0,"height":0,"label":"กระแสจากพลังงานคลื่น","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1100,"wires":[[]]},{"id":"5c8ef4b.1d6c80c","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Wave mass Amplitude","group":"e4f5ce61.2e37b","order":9,"width":0,"height":0,"label":"ระยะกระจัดของระบบมวลสร้างพลังงาน","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":1180,"wires":[[]]},{"id":"f0a611ec.d70a7","type":"ui_chart","z":"ed0b1de1.8fe77","name":"Wave Frequency","group":"e4f5ce61.2e37b","order":10,"width":0,"height":0,"label":"ความถี่คลื่นทะเล","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1260,"wires":[[]]},{"id":"1c3216d3.36b1e9","type":"change","z":"ed0b1de1.8fe77","name":"var1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.col4","tot":"msg"},{"t":"delete","p":"filename","pt":"msg"},{"t":"delete","p":"columns","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1020,"wires":[["719597d4.376de8"]]},{"id":"8bf010ac.fe027","type":"change","z":"ed0b1de1.8fe77","name":"var2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1100,"wires":[["b49fba21.907578"]]},{"id":"1e03a8f6.b7b727","type":"change","z":"ed0b1de1.8fe77","name":"var3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col6","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1220,"wires":[["3a0465fe.e250da"]]},{"id":"bab14a5e.cac0a8","type":"change","z":"ed0b1de1.8fe77","name":"var4","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1300,"wires":[["cc9f10ca.e7d7c"]]},{"id":"30b70b28.dac0d4","type":"change","z":"ed0b1de1.8fe77","name":"var5","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col8","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1380,"wires":[["6022f149.2aa45"]]},{"id":"b6eef87a.1b0908","type":"change","z":"ed0b1de1.8fe77","name":"val6","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col9","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1020,"wires":[["a3d4001f.2f9bb"]]},{"id":"c4d4fc85.55c4a","type":"change","z":"ed0b1de1.8fe77","name":"var7","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col10","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1100,"wires":[["30d2582.f45cda8"]]},{"id":"24e4e6ae.98d20a","type":"change","z":"ed0b1de1.8fe77","name":"var8","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col11","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1180,"wires":[["5c8ef4b.1d6c80c"]]},{"id":"2efe24fb.468adc","type":"change","z":"ed0b1de1.8fe77","name":"var9","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.col12","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1260,"wires":[["f0a611ec.d70a7"]]},{"id":"2daaf2eb.6a527e","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":135,"y":1020,"wires":[["1c3216d3.36b1e9"]]},{"id":"f220298e.ee2828","type":"link out","z":"ed0b1de1.8fe77","name":"historyGraph","links":["2daaf2eb.6a527e","4f8abc25.b73244","60192df5.9d70b4","79b9fa49.09f6e4","8bc1267c.373338","a0cdfd4c.45666","d6392a9b.44d8d8","fbadc3ab.de706","fdc43154.3092e","86b7360d.9ea8a8","87ac322f.7dc13","57af45f.359fabc"],"x":1115,"y":640,"wires":[]},{"id":"a0cdfd4c.45666","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":135,"y":1100,"wires":[["8bf010ac.fe027"]]},{"id":"fdc43154.3092e","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":135,"y":1220,"wires":[["1e03a8f6.b7b727"]]},{"id":"4f8abc25.b73244","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":135,"y":1300,"wires":[["bab14a5e.cac0a8"]]},{"id":"fbadc3ab.de706","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":135,"y":1380,"wires":[["30b70b28.dac0d4"]]},{"id":"60192df5.9d70b4","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":655,"y":1020,"wires":[["b6eef87a.1b0908"]]},{"id":"d6392a9b.44d8d8","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":655,"y":1100,"wires":[["c4d4fc85.55c4a"]]},{"id":"8bc1267c.373338","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":655,"y":1180,"wires":[["24e4e6ae.98d20a"]]},{"id":"79b9fa49.09f6e4","type":"link in","z":"ed0b1de1.8fe77","name":"historyGraph","links":["f220298e.ee2828"],"x":655,"y":1260,"wires":[["2efe24fb.468adc"]]},{"id":"b609703.b8cfc9","type":"function","z":"ed0b1de1.8fe77","name":"get time","func":"var name = msg.filename;\nvar date = name.replace('.csv', \"\");\ntime = date + \" \" + msg.payload.col1;\nvar d = new Date(time);\n// var offset = d.getTime() - 25200000;\n// d.setTime(offset);\nvar timestamp = d.getTime();\n\nmsg.timestamp = timestamp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":640,"wires":[["f220298e.ee2828"]]},{"id":"6f847c86.c3c6b4","type":"catch","z":"ed0b1de1.8fe77","name":"Error no file","scope":["1a5e4408.8d8d9c","a18632d6.bed3a","e439fdc5.57807"],"uncaught":false,"x":120,"y":840,"wires":[["8341a8a7.35bc08","af8a138b.de60d"]]},{"id":"8341a8a7.35bc08","type":"debug","z":"ed0b1de1.8fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error.message","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":840,"wires":[]},{"id":"662bee2f.deefb","type":"ui_toast","z":"ed0b1de1.8fe77","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Error","name":"error no file","x":450,"y":900,"wires":[]},{"id":"af8a138b.de60d","type":"change","z":"ed0b1de1.8fe77","name":"error msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":900,"wires":[["662bee2f.deefb"]]},{"id":"85f03556.9bbda8","type":"delay","z":"ed0b1de1.8fe77","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":640,"wires":[["e439fdc5.57807"]]},{"id":"89705b36.f79268","type":"change","z":"ed0b1de1.8fe77","name":"clearGraph","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":760,"wires":[["3bad9f1a.099e4"]]},{"id":"ed64d6eb.a8fe58","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":255,"y":980,"wires":[["719597d4.376de8"]]},{"id":"3bad9f1a.099e4","type":"link out","z":"ed0b1de1.8fe77","name":"clearGraph","links":["ed64d6eb.a8fe58","1ca13427.c9fabc","c320630b.3f458","43900065.f0be3","e83b94bb.4444a8","f1ebb17f.6c6ed","36227660.ae9c1a","fcf4aa76.7d28c8","949962bd.0b1e2","b7f473bf.7b2a5"],"x":595,"y":760,"wires":[]},{"id":"1ca13427.c9fabc","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":255,"y":1060,"wires":[["b49fba21.907578"]]},{"id":"43900065.f0be3","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":255,"y":1180,"wires":[["3a0465fe.e250da"]]},{"id":"e83b94bb.4444a8","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":255,"y":1260,"wires":[["cc9f10ca.e7d7c"]]},{"id":"f1ebb17f.6c6ed","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":255,"y":1340,"wires":[["6022f149.2aa45"]]},{"id":"36227660.ae9c1a","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":775,"y":980,"wires":[["a3d4001f.2f9bb"]]},{"id":"fcf4aa76.7d28c8","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":775,"y":1060,"wires":[["30d2582.f45cda8"]]},{"id":"949962bd.0b1e2","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":775,"y":1140,"wires":[["5c8ef4b.1d6c80c"]]},{"id":"b7f473bf.7b2a5","type":"link in","z":"ed0b1de1.8fe77","name":"clearGraph","links":["3bad9f1a.099e4"],"x":775,"y":1220,"wires":[["f0a611ec.d70a7"]]},{"id":"d8ccb5c4.480098","type":"ui_worldmap","z":"6e82cf52.344f2","group":"2a63f8c5.3726e8","order":0,"width":0,"height":0,"name":"","lat":"13.9","lon":"100.5","zoom":"14","layer":"","cluster":"0","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/setting","x":1030,"y":260,"wires":[]},{"id":"df33160e.a6e668","type":"worldmap in","z":"6e82cf52.344f2","name":"","path":"/setting","events":"all","x":130,"y":200,"wires":[["1535a1d8.413b3e","52c9d075.003a2","6ea233c5.bd7e8c","f4f52366.086ee","f2a9f8a0.498b38"]]},{"id":"5382806.89d7d8","type":"file","z":"6e82cf52.344f2","name":"savehome","filename":"/home/rednode/data/homeSetting.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1050,"y":160,"wires":[[]]},{"id":"41591137.632b6","type":"ui_numeric","z":"6e82cf52.344f2","name":"","label":"Radius [m]","tooltip":"","group":"dc06aebc.40462","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"radius","format":"{{value}}","min":0,"max":"1000","step":1,"x":450,"y":160,"wires":[["bfc7f7f7.8e11c8"]]},{"id":"bfc7f7f7.8e11c8","type":"function","z":"6e82cf52.344f2","name":"set number","func":"msg.payload = { radius : msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["1535a1d8.413b3e"]]},{"id":"1535a1d8.413b3e","type":"function","z":"6e82cf52.344f2","name":"set home","func":"var home = {};\nvar radius = 0;\n\nif (msg.payload.name === \"home\")\n{\n    radius = global.get('radius');\n    home.name = msg.payload.name;\n    home.lat = msg.payload.lat;\n    home.lon = msg.payload.lon;\n    home.icon = \"fa-home\";\n    global.set('home', home)\n    if (radius > 0)\n    {  \n        home.radius = radius;\n        msg.payload = home;\n        return msg;\n    }\n}\n\nif (Number.isInteger(msg.payload.radius))\n{\n    global.set('radius', msg.payload.radius);\n    radius = msg.payload.radius;\n    home = global.get('home') || {};\n        if (home.name === 'home')\n        {\n            home.radius = radius;\n            msg.payload = home;\n            return msg;\n        }\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":200,"wires":[["d8ccb5c4.480098","5382806.89d7d8"]]},{"id":"da1ef4e1.ffd078","type":"file in","z":"6e82cf52.344f2","name":"homesetting","filename":"/home/rednode/data/homeSetting.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":100,"wires":[["9c1546a6.e0d318"]]},{"id":"9c1546a6.e0d318","type":"json","z":"6e82cf52.344f2","name":"","property":"payload","action":"","pretty":false,"x":670,"y":100,"wires":[["1535a1d8.413b3e","a826db75.ecb4e8"]]},{"id":"52c9d075.003a2","type":"debug","z":"6e82cf52.344f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"16554b55.6f1cc5","type":"change","z":"ed0b1de1.8fe77","name":"set file name","rules":[{"t":"set","p":"filename","pt":"msg","to":"filename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["9ef42262.c3c81","5cb4affb.698e8"]]},{"id":"5cb4affb.698e8","type":"debug","z":"ed0b1de1.8fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":220,"wires":[]},{"id":"6ea233c5.bd7e8c","type":"file in","z":"6e82cf52.344f2","name":"lastData","filename":"/home/rednode/data/lastData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":40,"wires":[["b8840f9.64229f"]]},{"id":"b8840f9.64229f","type":"json","z":"6e82cf52.344f2","name":"","property":"payload","action":"","pretty":false,"x":470,"y":40,"wires":[["67442605.758b28"]]},{"id":"67442605.758b28","type":"change","z":"6e82cf52.344f2","name":"set oldData","rules":[{"t":"set","p":"oldData","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[[]]},{"id":"f4f52366.086ee","type":"switch","z":"6e82cf52.344f2","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":100,"wires":[["da1ef4e1.ffd078"]]},{"id":"f2a9f8a0.498b38","type":"switch","z":"6e82cf52.344f2","name":"is new client?","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":260,"wires":[["ad378498.33f6b8"]]},{"id":"a30c76c7.93c1c8","type":"delay","z":"155156f2.50ad99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":520,"wires":[["a713c387.52523"]]},{"id":"a713c387.52523","type":"change","z":"155156f2.50ad99","name":"set position","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"},{"t":"set","p":"payload.name","pt":"msg","to":"dataIn.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":520,"wires":[["8413b6ba.098088"]]},{"id":"ad378498.33f6b8","type":"delay","z":"6e82cf52.344f2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":260,"wires":[["5da91b13.396694"]]},{"id":"5da91b13.396694","type":"change","z":"6e82cf52.344f2","name":"set position","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"},{"t":"set","p":"payload.name","pt":"msg","to":"dataIn.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["d8ccb5c4.480098"]]},{"id":"bb15d1f3.3a3c2","type":"function","z":"155156f2.50ad99","name":"use oldData","func":"if (global.get('dataIn') === undefined)\n{\n    global.set('dataIn', global.get('oldData'));\n    global.set('dataIn.old', true);\n}\n\nmsg.payload = global.get('oldData');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":280,"wires":[["b05a877d.702c88"]]},{"id":"b05a877d.702c88","type":"link out","z":"155156f2.50ad99","name":"dataIn","links":["10bc6318.9279ad","65d71365.47378c","6b5839cd.a1bda8","9202bcfc.b1893","d2eced79.0f28b","d38838be.4bfc38","f0358c5c.1a178","f49c8ed0.05f58","f6b69d2c.22a26","fc9f6c38.3146f","641a37ab.327098","b2d8dac3.c313e8","cabe662f.f12bf8","b3193ddf.3e02b","8dda0135.d8daa","75bdbbb9.504a44","57c58ecf.cc214","7b21cd48.e85604","60e0a624.fa1de8","f70b93d9.9edf","4ff8b27.24ea94c","7afd5112.9762d","68c80f2.163f2f","33241c9f.78c264","f7f3e76.9ff2418","d235e1dd.0b845","a5b466f2.57fb28","80db0bef.349348","36625c26.e3e4f4"],"x":1275,"y":280,"wires":[]},{"id":"bfd27e87.2bdbe","type":"switch","z":"155156f2.50ad99","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":100,"wires":[["70ccaf38.bd449"]]},{"id":"7c270804.619d88","type":"switch","z":"155156f2.50ad99","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":620,"wires":[["5cbbc251.b3b2dc","efbd6118.59d99"]]},{"id":"a40f6c2a.1cc9f","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":380,"wires":[["4c40f5f6.a7b1dc"]]},{"id":"b5b1950c.191d18","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":480,"wires":[["1a94a4c2.51cb7b"]]},{"id":"5d11fc9a.010894","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":120,"wires":[["3d2d9a72.1983e6"]]},{"id":"78213d21.8a20a4","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":220,"wires":[["887d71bd.c99a5"]]},{"id":"714116a9.724a08","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":320,"wires":[["3b69c353.c5552c"]]},{"id":"f4fda1fb.46201","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":420,"wires":[["22aadd24.59c1b2"]]},{"id":"327b2067.51d49","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":520,"wires":[["3489065b.5fa07a"]]},{"id":"8e22e093.abe8a","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":660,"wires":[["a0784b6d.16bdc8"]]},{"id":"9a691e4c.c6984","type":"switch","z":"c601f663.097a58","name":"is new?","property":"dataIn.old","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":760,"wires":[["a39dd86f.362038"]]},{"id":"a826db75.ecb4e8","type":"change","z":"6e82cf52.344f2","name":"radius","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.radius","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["41591137.632b6"]]},{"id":"b0b7abff.12d8d8","type":"file in","z":"155156f2.50ad99","name":"lastData","filename":"/home/rednode/data/lastData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":940,"wires":[["8131df90.2c868"]]},{"id":"f6508b08.8f0578","type":"inject","z":"155156f2.50ad99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":940,"wires":[["b0b7abff.12d8d8","64dd6628.1334f8","6937d4b6.7bd82c"]]},{"id":"8131df90.2c868","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":940,"wires":[]},{"id":"64dd6628.1334f8","type":"change","z":"155156f2.50ad99","name":"get dataIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"dataIn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1000,"wires":[["57182366.92b81c"]]},{"id":"57182366.92b81c","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1000,"wires":[]},{"id":"6937d4b6.7bd82c","type":"change","z":"155156f2.50ad99","name":"get oldData","rules":[{"t":"set","p":"payload","pt":"msg","to":"oldData","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1060,"wires":[["bc394504.712268"]]},{"id":"bc394504.712268","type":"debug","z":"155156f2.50ad99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1060,"wires":[]},{"id":"d221700e.8cf4b","type":"comment","z":"155156f2.50ad99","name":"for debug only","info":"","x":160,"y":560,"wires":[]},{"id":"f159caa2.809b78","type":"ui_text","z":"ed0b1de1.8fe77","group":"e4f5ce61.2e37b","order":1,"width":0,"height":0,"name":"file","label":"file : ","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":700,"wires":[]},{"id":"d28e8e5.eb6687","type":"rbe","z":"155156f2.50ad99","name":"if change","func":"rbe","gap":"","start":"","inout":"out","property":"payload.time","x":730,"y":820,"wires":[["a12f046a.96dc68"]]}]